.btns{
	display:inline-block;
	background:#ccc;
	padding:10px 40px;
	color:#fff;
	opacity:1;
	cursor:pointer;
	transition: all .25s;
	position:relative;
	border:none;
  font-family:$font2;
  font-weight:bold;
  text-transform:uppercase;
  border-radius:100px;
  font-size:20px;
}
.btns:hover{
	color:#fff;
	text-decoration:none;
}
.btns:active{
	top:1px;
}
.btn1{
	background:$color1;
}
.btn2{
	background:#fff;
  color:$color1;
}
.btn3{
	background:$color3;
  top: 10px;
  padding: 4px 40px;
  line-height:1;
  span{
    display:block; 
  }
}
.btn4{
	background:#1A61F1;
}

