$color1: #f4cc14;
$color2: #329664;
$color3: #880100;
$color4: #2b2b2b;

.color1{
	background: $color1;
}
.color2{
	background: $color2;
}
.color3{
	background: $color3;
}
.color4{
	background: $color4;
}


$font1: 'Lora', serif;
$font2: 'Open Sans Condensed', sans-serif;


.font1{
	font-family: $font1; 
}
.font2{
	font-family: $font2; 
}

.font{
	span{
		display:block;
	}
}











