.masthead{
	border:1px solid red;
	.masthead-inner{
		@extend .wrap;
    @extend .grid-row;
	}
}
.masthead-left{
  @include col($four); 
  border:1px solid green;
}
.masthead-right{
  @include col($eight);
  border:1px solid green; 
}