/*Streches li elements full width of ul regardless of # of items*/
/*.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table;
  width: 100%;
}
.nav > li {
  display: table-cell;
	text-align:center;
}
@media (min-width: 768px){
	.navbar-nav > li {
		float: none;
	}
}*/
/******************************************************************/

.navMain{
  background:#98B5C0;
  @extend .grid-row;
  .menu{
    float:right;
    border:1px solid white;
    >li{
      display:inline-block;
      >a{
        display:block; 
        padding:10px 20px;
      } 
    }
  }
  .dropit-submenu{
    background:#fff;
    a{
      display:block;
      padding:10px 20px; 
    }
  }
}
.navMain-inner{
  @extend .wrap; 
  @extend .grid-row;
  border:1px solid white;
}


.toggle-wrap{
  text-align:right; 
}
.toggle {
  box-sizing: border-box;
  display: none;
  height: 50px;
  width: 50px;
  padding-top: 14px;
  opacity: .9;
  cursor: pointer;
  z-index: 10001;
  position: relative;
}


.toggle span {
  display: block;
  border: 2px solid #fff;
  width: 25px;
  margin: auto;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}


.toggle.toggle-open .toggle-f {
  display: none;
}

.toggle.toggle-open .toggle-m {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}

.toggle.toggle-open .toggle-l {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 670px){ 
 .toggle{
   display:inline-block;
 }
 .dropit .dropit-submenu{
    position:relative;
    a{
      display:block;
      padding:10px 20px; 
    }
  }
}




/*MODIFIERS*/

@media (max-width: 670px){ 
 .toggle__standard{
   
 }
 .navMain__standard{
   .navMain-inner{
     display:none; 
   }
   .menu{
     float:none;
     li{
         display:block; 
       }
       a{
         display:block; 
      } 
    }
   
 }
}











.toggle__corner{
  border-radius: 50%;
  background: #145128;
  position:absolute;
  right:10px;
  top:10px;
}

.navMain-open.navMain__cover{
  display:block; 
  position:absolute;
  padding-top:80px;
  left:0;
  right:0;
  bottom:0;
  top:0;
  .menu{
    float:none;
    border:1px solid white;
    >li{
      display:block;
      >a{
        display:block; 
        padding:10px 20px;
      } 
    }
  } 
  .dropit-submenu{
    position:relative;
    a{
      display:block;
      padding:10px 20px; 
    }
  }  
}

@media (max-width: 670px){ 
 .navMain.navMain__cover{
   display:none; 
 }
}
























